[Service]
User=factorio
Group=factorio

# We will store a pid file in your ${WRITE_DIR}/server.pid
# Adjust if you change the write dir of your server
PIDFile=/home/factorio/game/server.pid

Type=forking
TimeoutStartSec=20
ExecStart=/home/factorio/FactorioServer.sh start -update true -port 44505
TimeoutStopSec=20
ExecStop=/home/factorio/FactorioServer.sh stop
RestartSec=20
Restart=on-failure

[Install]
WantedBy=multi-user.target
