#/etc/systemd/system
[Unit]
Description=A Minecraft Vanilla 1.17 Server

[Service]
Type=simple
Restart=always
RestartSec=5
User=minecraft
ExecStart=/home/minecraft/Vanilla-1-17-1.sh start -connect false -output on -service true -port 44572
ExecReload=/home/minecraft/Vanilla-1-17-1.sh restart -connect false -output on -service true -port 44572
ExecStop=/home/minecraft/Vanilla-1-17-1.sh stop -connect false -output on -service true

[Install]
WantedBy=multi-user.target

