[Unit]
Description=Keeps getting the server status

[Service]
Type=simple
RemainAfterExit=no
Restart=no
#Restart=always
#RestartSec=5
User=root
ExecStart=/root/status.sh

[Install]
WantedBy=multi-user.target
