#/etc/systemd/system

[Unit]
Description=Starts the bazarr subtitles service

[Service]
Type=simple
#RemainAfterExit=no
#Restart=no
Restart=always
RestartSec=5
User=bazarr
ExecStart=python3 /home/bazarr/bazarr.py

[Install]
WantedBy=multi-user.target
