#/etc/systemd/system
[Unit]
Description=Gets http requests and responses to them

[Service]
Type=simple
#RemainAfterExit=no
#Restart=no
Restart=always
RestartSec=5
User=root
ExecStart=/snap/shell2http/current/bin/shell2http -no-index -add-exit -timeout=5 -port=80 \
	/ping "echo 'PONG'" \
	/status "cat /home/joe/status.out" \
	/compression/ultrafast/start "/root/compression.sh start ultrafast 1 date" \
	/compression/ultrafast/status "/root/compression.sh status ultrafast 1 date" \
	/compression/ultrafast/output "/root/compression.sh output ultrafast 1 date" \
	/compression/fast/start "/root/compression.sh start fast 1 size" \
	/compression/fast/status "/root/compression.sh status fast 1 size" \
	/compression/fast/output "/root/compression.sh output fast 1 size" \
	/compression/veryslow/start "/root/compression.sh start veryslow 1 size" \
	/compression/veryslow/status "/root/compression.sh status veryslow 1 size" \
	/compression/veryslow/output "/root/compression.sh output veryslow 1 size"

[Install]
WantedBy=multi-user.target
