[Unit]
Description=NordVPN connection manager
Wants=network-online.target
After=network-online.target
After=multi-user.target
[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/lib/python3.8/dist-packages/openpyn/
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/local/bin/openpyn us --max-load 70 --top-servers 10 --pings 3 --p2p --openvpn-options '--route-gateway 192.168.1.1 --route plex.tv 255.255.255.0 --route app.plex.tv 255.255.255.0 --route plexapp.com 255.255.255.0 --route my.plexapp.com 255.255.255.0'
ExecStop=/usr/local/bin/openpyn --kill
StandardOutput=syslog
StandardError=syslog
[Install]
WantedBy=multi-user.target
