#/etc/systemd/system
[Unit]
Description=Run Transmission Torrent Client 60 Seconds After Boot

[Timer]
OnBootSec=60s
Unit=transmission.service

[Install]
WantedBy=timers.target
