#/home/bazarr/bazarr.service
[Unit]
Description=Bazarr Subtitle Manager
After=docker.service

[Service]
Type=simple
#RemainAfterExit=no
#Restart=no
Restart=always
RestartSec=5
User=bazarr
Group=docker
ExecStart=/home/bazarr/bazarr.sh start-monitor
ExecStop=/home/bazarr/bazarr.sh stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
