[Unit]
Description=Run DST Cluster1 Caves 6 Minutes After Boot

[Timer]
OnBootSec=6min
Unit=dst_cluster1_caves.service

[Install]
WantedBy=timers.target
