#/etc/systemd/system
[Unit]
Description=Transmission Torrent Client
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=transmission
Group=docker
ExecStart=/home/transmission/transmission.sh start
ExecStop=/home/transmission/transmission.sh stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
