#/home/transmission/transmission.service
[Unit]
Description=Transmission Torrent Client
After=docker.service

[Service]
Type=simple
#RemainAfterExit=no
#Restart=no
Restart=always
RestartSec=5
User=transmission
Group=docker
ExecStart=/home/transmission/transmission.sh start-monitor
ExecStop=/home/transmission/transmission.sh stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
