#/etc/systemd/system
[Unit]
Description=Radarr Movie Manager
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=radarr
Group=docker
ExecStart=/home/radarr/radarr.sh start
ExecStop=/home/radarr/radarr.sh stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
