#/home/sonarr/sonarr.service
[Unit]
Description=Sonarr TV Series Manager
After=docker.service

[Service]
Type=simple
#RemainAfterExit=no
#Restart=no
Restart=always
RestartSec=5
User=sonarr
Group=docker
ExecStart=/home/sonarr/sonarr.sh start-monitor
ExecStop=/home/sonarr/sonarr.sh stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
