#/etc/systemd/system
[Unit]
Description=Plex Streaming Client
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=plex
Group=docker
ExecStart=/home/plex/plex.sh start
ExecStop=/home/plex/plex.sh stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
