#/etc/systemd/system/satisfactory2.service
[Unit]
Description=Satisfactory Game Server
After=docker.service

[Service]
Type=simple
#RemainAfterExit=no
#Restart=no
Restart=always
RestartSec=5
User=satisfactory
Group=docker
ExecStart=/home/satisfactory/satisfactory2.sh start-monitor
ExecStop=/home/satisfactory/satisfactory2.sh stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
