#/etc/systemd/system
[Unit]
Description=Run HTTP Server 1 Minutes After Boot

[Timer]
OnBootSec=1min
Unit=http-bash-requests.service

[Install]
WantedBy=timers.target
