#/home/jackett/jackett.service
[Unit]
Description=Jackett Indexing Service
After=docker.service

[Service]
Type=simple
#RemainAfterExit=no
#Restart=no
Restart=always
RestartSec=5
User=jackett
Group=docker
ExecStart=/home/jackett/jackett.sh start-monitor
ExecStop=/home/jackett/jackett.sh stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
