[Unit]
Description=A DST Cluster1 Caves Server

[Service]
Type=simple
Restart=always
RestartSec=5
User=steam
ExecStart=/home/steam/dst-caves.sh start
ExecStop=/home/steam/dst-caves.sh stop

[Install]
WantedBy=multi-user.target
