[Unit]
Description=Run DST Cluster1 Caves 5 Minutes After Boot

[Timer]
OnBootSec=5min
Unit=dst_cluster1_caves.service

[Install]
WantedBy=timers.target
