[Unit]
Description=Run DST Cluster1 Master 3 Minutes After Boot

[Timer]
OnBootSec=5min
Unit=dst_cluster1_master.service

[Install]
WantedBy=timers.target
