[Unit]
Description=A DST Cluster1 Master Server

[Service]
Type=simple
Restart=always
RestartSec=5
User=steam
ExecStart=/home/steam/dst-master.sh start
ExecStop=/home/steam/dst-master.sh stop

[Install]
WantedBy=multi-user.target
