[Unit]
Description=A Minecraft RLCraft 1.5.0 Server

[Service]
Type=simple
Restart=always
RestartSec=5
User=minecraft
ExecStart=/home/minecraft/RLCraftServer.sh start -connect false -output on -service true -port 45569
ExecReload=/home/minecraft/RLCraftServer.sh restart -connect false -output on -service true -port 45569
ExecStop=/home/minecraft/RLCraftServer.sh stop -connect false -output on -service true

[Install]
WantedBy=multi-user.target
