#/etc/systemd/system
[Unit]
Description=A Minecraft ATM5 1.10 Server

[Service]
Type=simple
Restart=always
RestartSec=5
User=minecraft
ExecStart=/home/minecraft/ATM5Server.sh start -connect false -output on -service true -port 45566
ExecReload=/home/minecraft/ATM5Server.sh restart -connect false -output on -service true -port 45566
ExecStop=/home/minecraft/ATM5Server.sh stop -connect false -output on -service true

[Install]
WantedBy=multi-user.target
