[Unit]
Description=Run Minecraft Vanilla 1.16.3 5 Minutes After Boot

[Timer]
OnBootSec=5min
Unit=minecraft-vanilla-1-16-3.service

[Install]
WantedBy=timers.target
