[Unit]
Description=A Minecraft ATM3 Server

[Service]
Type=simple
Restart=always
RestartSec=5
User=joe
ExecStart=/home/joe/ATM3Server.sh start -connect false -output on -service true
ExecStop=/home/joe/ATM3Server.sh stop -connect false -output on -service true

[Install]
WantedBy=multi-user.target
