[Unit]
Description=Run Minecraft ATM5 1.10 3 Minutes After Boot

[Timer]
OnBootSec=3min
Unit=minecraft-atm5-1-10.timer

[Install]
WantedBy=timers.target
