#/home/ombi/ombi.service
[Unit]
Description=OMBI Requesting Manager
After=docker.service

[Service]
Type=simple
#RemainAfterExit=no
#Restart=no
Restart=always
RestartSec=5
User=ombi
Group=docker
ExecStart=/home/ombi/ombi.sh start-monitor
ExecStop=/home/ombi/ombi.sh stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
