[Unit]
Description=Gets http requests and responses to them

[Service]
Type=simple
#RemainAfterExit=no
#Restart=no
Restart=always
RestartSec=5
User=joe
ExecStart=/snap/shell2http/current/bin/shell2http -no-index -add-exit -timeout=60 -port=28080 \
	/status "cat /home/joe/status.out" /atm3/logs "/home/minecraft/ATM3Server.sh logs" \
	/atm5/logs "/home/minecraft/ATM5Server.sh logs" \
	/vanilla/logs "/home/minecraft/VanillaServer.sh logs" \
	/dst/logs "/home/steam/dst-master.sh logs" \
	/caves/logs "/home/steam/dst-caves.sh logs"

[Install]
WantedBy=multi-user.target
