#/home/nzbget/nzbget.service
[Unit]
Description=NZBGet Usenet Client
After=docker.service

[Service]
Type=simple
#RemainAfterExit=no
#Restart=no
Restart=always
RestartSec=5
User=nzbget
Group=docker
ExecStart=/home/nzbget/nzbget.sh start-monitor
ExecStop=/home/nzbget/nzbget.sh stop
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
