#/etc/systemd/system
[Unit]
Description=Run Server Status 30 Seconds After Boot

[Timer]
OnBootSec=30s
Unit=server-status.service

[Install]
WantedBy=timers.target
